@import "tailwindcss";

@theme{
    --color-dark-base: #1e1e1e;
    
    --color-dark-10: #0a0a0a;
    --color-dark-20: #141414;
    --color-dark-25: #191919;
    --color-dark-30: #1e1e1e;
    --color-dark-35: #232323;
    --color-dark-40: #282828;
    --color-dark-45: #2d2d2d;
    --color-dark-50: #323232;
    --color-dark-50: #323232;

}